.container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    position: relative;
    overflow: hidden;
    

}

.container::-webkit-scrollbar {
    display: none;
  }

.PDFContainer {
    position: relative;
    background-color: white;
    height: 1580px;
    width: 1117px;
    overflow-y: auto;
}

.PDFDownloadLink {
    position: absolute;
    right: 20px;
    top: 20px;
}