
.editor {
    background-color: white;
    border-radius: 30px;
    width: 700px;
    height: 100%;
    padding: 30px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    overflow: hidden;


}
.inputs {
    flex: 1;
    background-color: #E4EAF1;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: scroll;

}

.inputs::-webkit-scrollbar {
    display: none;
}

.layoutGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;

}

.layoutGrid img {
    width: 100%;
    cursor: pointer;

}


.chosenImg {
    outline: 3px solid #112131;
    outline-offset: 2px;
    border-radius: 6px;
    
}
