
.editor {
    background-color: white;
    border-radius: 30px;
    width: 700px;
    height: 100%;
    padding: 30px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    overflow: hidden;


}
.inputs {
    flex: 1;
    background-color: #E4EAF1;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    overflow: scroll;

}

.inputs::-webkit-scrollbar {
    display: none;
}

