.container {
    border: 1px solid black;
    border-radius: 8px;
    height: 40px;
    width: 70%;
    font-size: 1.15rem;
    padding: 5px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    cursor: pointer;
}

.left {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.drag {
    width: 12px;
    cursor: pointer;
}

.right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right img {
    cursor: pointer;
}

.close {
    width: 15px;
    cursor: pointer;
}