.container {
    border: 2px solid #112131;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}   

.top {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
}

.left {
    display: flex;
    gap: 20px;
    align-items: center;

}

.title {
    width: 40px;
}

.arrow {
    width: 15px;
}