.container {
    border: 2px solid #112131;
    border-radius: 6px;
    display: flex;
    flex-direction: column;

}   

.top {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    align-items: center;
}

.pointer {
    cursor: pointer;
}

.left {
    display: flex;
    gap: 20px;
    align-items: center;

}

.title {
    width: 40px;
}

.arrow {
    width: 15px;
}

.color {
    -webkit-appearance: none;
}

input[type="color"] {
    -webkit-appearance: none;
    border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
}

img {
    cursor: default;
}
