.container {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    border: 0.125rem solid black;
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    align-items: center;
    margin-left: 20px;
}

.right {
    display: flex;
    gap: 8px;
    margin-right: 0px;
}

img {
    width: 25px;
    height: auto;
    cursor: pointer;
}